extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Homework Requirements
					div.signup-wall
						form(class='form-signin', action='/posthw', method='POST')
							input(type='text', name='HomeworkTitle', class='form-control', placeholder='Homework Title',required)
							input(type='text', name='HomeworkDeadline', class='form-control', placeholder='Homework Deadline',required)
							input(type='text', name='HomeworkRequirement', class='form-control', placeholder='Homework Requirement',required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Post
							span.clearfix
					#message
						if message
							h1.text-center.error-message #{message}