doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", href="/stylesheets/select2.css")
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
    script(src="/javascript/jquery-2.1.3.js")
    script(src="/javascript/select2.js")
    script(src="/javascript/bootstrap.min.js")
    script(src="/javascript/nicEdit.js")
  body
    block content
