
extends layout    

block content
	.container
		.page-header
			h1 Welcome #{user.username}
		.row
			#content.span10
				h3 Upload New Homework
			.signup-wall
				form(class='form-signin', action='/uploadhomework', method='POST')
					input(class='form-control', type='text', name='name', placeholder='Homework Name', required, autofocus)
					input(class='form-control', type='text', name='detail', placeholder='Homework detail', required)
					input(class='form-control', type='date', name='deadline', required)
					button(class='btn btn-lg btn-primary btn-block', type='submit', required) Create
					span.clearfix
